@model DVDCentral.BL.Models.Order

@if (Model.OrderItems.Any())
{
    <div class="row">
        <h4 class="col-md-8 rounded">Order Items:</h4>
    </div>
    <div class="row">
        <table id="orderItems" class="table data-table col-md-8">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(Model => Model.OrderItems[0].MovieTitle)</th>
                    <th>@Html.DisplayNameFor(Model => Model.OrderItems[0].Cost)</th>
                    <th>@Html.DisplayNameFor(Model => Model.OrderItems[0].Quantity)</th>
                    <th>@Html.DisplayNameFor(Model => Model.OrderItems[0].TotalCost)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.MovieTitle</td>
                    <td>$@item.Cost</td>
                    <td>@item.Quantity</td>
                    <td>$@item.TotalCost</td>
                    <td>
                            <a class="btn btn-sm btn-primary" asp-route-orderItemId="@item.Id"  asp-action="Remove" asp-controller="OrderItem">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

<script type="text/javascript" class="init">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#orderItems').DataTable({
            "lengthMenu": [[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });
    });
</script>



