@model DVDCentral.BL.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
    </dl>
</div>

    @if (Model.OrderItems.Any())
    {
        <div class="row">
            <h4 class="col-md-8 rounded">Order Items:</h4>
        </div>
        <div class="row">
            <table class="col-md-8 table">
                <tr>
                    <th>Movie Title</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                    <th>Total Cost</th>
                </tr>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>@item.MovieTitle</td>
                        <td>@item.Cost</td>
                        <td>@item.Quantity</td>
                        <td>@item.TotalCost</td>
                    </tr>
                }
            </table>
        </div>
    }

<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
