@model DVDCentral.BL.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row order-info-details">
    <div class="col-sm-3 col-even">
        <ul>
            <li>@Html.DisplayNameFor(model => model.CustomerName)</li>
            <li>@Html.DisplayNameFor(model => model.UserName)</li>
            <li>@Html.DisplayNameFor(model => model.OrderDate)</li>
            <li>@Html.DisplayNameFor(model => model.ShipDate)</li>
        </ul>
    </div>
    <div class="col-sm-3 col-odd">
        <ul>
            <li>@Html.DisplayFor(model => model.CustomerName)</li>
            <li>@Html.DisplayFor(model => model.UserName)</li>
            <li>@Html.DisplayFor(model => model.OrderDate)</li>
            <li>@Html.DisplayFor(model => model.ShipDate)</li>
        </ul>
    </div>
    <div class="col-sm-3 col-even">
        <ul>
            <li>@Html.DisplayNameFor(model => model.SubTotal)</li>
            <li>@Html.DisplayNameFor(model => model.Tax)</li>
            <li>@Html.DisplayNameFor(model => model.Total)</li>
            <li>@Html.DisplayNameFor(model => model.CustomerName)</li>
        </ul>
    </div>
    <div class="col-sm-3 col-odd">
        <ul>
            <li>@Html.DisplayFor(model => model.SubTotal)</li>
            <li>@Html.DisplayFor(model => model.Tax)</li>
            <li>@Html.DisplayFor(model => model.Total)</li>
            <li>@Html.DisplayFor(model => model.CustomerName)</li>
        </ul>
    </div>
</div>


<div>
    <partial name="_OrderItemsPartial" model="Model" />
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
