@model DDB.DVDCentral.BL.Models.ShoppingCart

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].CartQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td id="@item.Id">
                    @Html.DisplayFor(modelItem => item.CartQty)
                </td>
                <td>
                    @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayFor(model => model.SubTotal)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayFor(model => model.Tax)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a class="btn btn-sm btn-primary" asp-action="StartCheckout">Check Out</a>
            </th>
            <th>

            </th>
        </tr>
    </tbody>
</table>
