@model DDB.DVDCentral.UI.ViewModels.MovieViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Movie.Id" hidden class="form-control" value="@Model.Movie.Id" />
                <span asp-validation-for="Movie.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" value="@Model.Movie.Title" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <textarea asp-for="Movie.Description" class="form-control" value="@Model.Movie.Description"></textarea>
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Cost" class="control-label"></label>
                <input asp-for="Movie.Cost" class="form-control" value="@Model.Movie.Cost" />
                <span asp-validation-for="Movie.Cost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.RatingId" class="control-label"></label>
                <select asp-for="Movie.RatingId" class="form-control"
                        asp-items="@(new SelectList(Model.Ratings, "Id", "Description"))">
                </select>
                <span asp-validation-for="Movie.RatingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.FormatId" class="control-label"></label>
                <select asp-for="Movie.FormatId" class="form-control"
                        asp-items="@(new SelectList(Model.Formats, "Id", "Description"))">
                </select>
                <span asp-validation-for="Movie.FormatId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.DirectorId" class="control-label"></label>
                <select asp-for="Movie.DirectorId" class="form-control"
                        asp-items="@(new SelectList(Model.Directors, "Id", "FullName"))">
                </select>
                <span asp-validation-for="Movie.DirectorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenreIds" class="control-label"></label>
                <select asp-for="GenreIds" 
                        class="form-control"
                        multiple
                        asp-items="@(new SelectList(Model.Genres, "Id", "Description"))">
                </select>
                <span asp-validation-for="GenreIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.InStkQty" class="control-label"></label>
                <input asp-for="Movie.InStkQty" class="form-control" />
                <span asp-validation-for="Movie.InStkQty" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.ImagePath" class="control-label"></label>
                <img class="imagepropmedium m-2"
                     alt="@Model.Movie.Description"
                     id="movieimage" />
                     @if(Model.Movie.ImagePath != null)
                    { 
                        <script>
                             document.getElementById("movieimage").src = "/images/@Model.Movie.ImagePath";
                        </script>
                    }
                <input type="file" name="File" id="File" accept="image/" onchange="loadFile(event)" class="m-2" />
                <span asp-validation-for="Movie.ImagePath" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <input class="btn btn-sm btn-primary"
                       type="button"
                       onclick="AddToCart(@Model.Movie.Id)"
                       value="Add to Cart" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('movieimage');
        output.src = URL.createObjectURL(event.target.files[0]);
        var imgInput = document.getElementById('Movie_ImagePath');
        imgInput.nodeValue = event.target.files[0];
    }
</script>
