@model IEnumerable<DVDCentral.BL.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStkQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormatDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStkQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorFullName)
            </td>
            <!--<td>
                @* @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
            </td>--->
        </tr>
}
    </tbody>
</table>
