@model IEnumerable<DVDCentral.BL.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
        <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-sm-4 card">
            <div class="card-header card-header-cust">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </div>

            <div class="card-body m-2">
                <div class="card-img">
                    <img src="~/images/@item.ImagePath" 
                         class="imgcard" 
                         alt="@item.Title Poster" 
                         id="movieImage"
                          />
                </div>
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Description):</span> @Html.DisplayFor(modelItem => item.Description)
                <div class="row">
                    <div class="col-sm-8">
                        <span class="fw-bold">@Html.DisplayNameFor(model => model.Cost):</span>
                    </div>
                    <div class="col-sm-4 align-content-end">
                        $@Html.DisplayFor(modelItem => item.Cost)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <span class="fw-bold">@Html.DisplayNameFor(model => model.InStkQty):</span>
                    </div>
                    <div class="col-sm-4 align-content-end">
                        @Html.DisplayFor(modelItem => item.InStkQty)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <span class="fw-bold">@Html.DisplayNameFor(model => model.RatingDescription):</span>
                    </div>
                    <div class="col-sm-4 align-content-end">
                        @Html.DisplayFor(modelItem => item.RatingDescription)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <span class="fw-bold">@Html.DisplayNameFor(model => model.FormatDescription):</span>
                    </div>
                    <div class="col-sm-4 align-content-end">
                        @Html.DisplayFor(modelItem => item.FormatDescription)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <span class="fw-bold">@Html.DisplayNameFor(model => model.DirectorFullName):</span>
                    </div>
                    <div class="col-sm-4 align-content-end">
                        @Html.DisplayFor(modelItem => item.DirectorFullName)
                    </div>
                </div>
            </div>

            <div class="card-footer">
                 @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                 @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                 @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
            </div>

        </div>

    }
</div>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStkQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormatDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStkQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorFullName)
            </td>
            <!--<td>
                @* @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
            </td>--->
        </tr>
}
    </tbody>
</table>
*@
